body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    margin: 0;
    background: linear-gradient(to right, #2e2d2d, #0f0f0f);
    color: #fff;
}

.container {
    text-align: center;
    padding: 16px;
   
}

.profile-card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding: 32px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    text-align: center;
}

.profile-picture {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin-bottom: 16px;
    border: 3px solid #fff;
}

.name {
    font-size: 1.3rem;
    font-weight: bold;
    background: linear-gradient(to right, #fcecb7, #947612);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin: 8px 0;
    animation: blink 1s steps(1) infinite;
}

.job-title {
    font-size: 0.9rem;
    margin: 8px 0;
}

.buttons {
    margin: 16px 0;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 0.8rem;
    font-weight: bold;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    margin: 0 8px;
}

.button:hover {
    transform: scale(1.1);
}

.black {
    background-color: #0e0d0d;
    color: #fff;
}

.green {
    background-color: #355a32;
    color: #fcfafa;
}

.white {
    background-color: #fdfdfd;
    color: #353232;
}

/* Stack Tecnológico */
.stack-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    justify-content: center;
}

.stack-category {
    flex: 1 1 calc(50% - 20px);
    margin: 5px;
    text-align: center;
}

.stack-card {
    padding: 5px;
    background: linear-gradient(135deg, #040704, #0a0a0a);
    border-radius: 15px;
    color: #f8f6f6;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.stack-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 20px rgba(252, 251, 251, 0.5);
}

.category-title {
    margin-bottom: 15px;
    font-size: 0.9rem;
    background: linear-gradient(to right, #2df867, #8a8787);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.stack-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.stack-list li {
    margin: 5px 0;
    font-size: 0.8rem;
    font-weight: 500;
    transition: color 0.2s ease;
}

.stack-list li:hover {
    color: #ffe082;
}

